.container {
  width: 100%;
  text-align: center;
}
.head,
.para {
  padding: 1rem;
}
.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.images img {
  width: 50%;
  padding: 1rem;

}
