.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  width: 90%;
}
.worldimg {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets//world_map_PNG28\ 3.png");
}
.teamsec {
  text-align: center;
}
.teamsmember {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}
.about {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.icons{
    display: flex;
    gap: 2rem;
}
