.login {
  width: 15%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  position: absolute;
  width: 140px;
  right: 70px;
  top: 40px;
  cursor: pointer;
}
.signupbtn {
  background-color: #55b0c9;
  padding: .25rem;
  border-radius: 5px;
  cursor: pointer;
  
}


  